<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="signForm">
        <div id="user-data">
          <div class="form-group">
            <label> name </label>
            <input
              type="email"
              class="form-control"
              name="username"
              required
              formControlName="username"
              [(ngModel)] = "username"
            >
          </div>

          <div class="form-group">
            <label> password: </label>
            <input
              type="password"
              class="form-control"
              name="password"
              required
              formControlName="password"
              [(ngModel)] = "password"
            >
          </div>
          <button class="btn btn-primary" type="submit"> Submit </button>
        </div>
  	 </form>
	</div>
</div>